* {
  margin: 0px;
}

.team {
  background-color: skyblue;
  text-align: center;
  padding: 30px 0px;
  width: 33.33%;
  float: left;
}
.team img {
  width: 200;
  height: 200px;
  border-radius: 50%;
}
.team p {
  font-size: 14px;
  font-family: candara;
  margin-top: 2px;
}
.team h2 {
  font-size: 40px;
  font-family: Gill sans;
  color: white;
  margin: 0px;
}

.team h3 {
  font-size: 25px;
  margin: 0px;
  font-family: serif;
}
.sun {
  font-size: 30px;
  text-align: center;
  background-color: skyblue;
  font-family: impact;
}
